/* Small devices (phones) */
@media screen and (max-width:576px) {
    /* Shared responsive */
    .banner-container,
    .habit-container-text,
    .calculator-container,
    .calculator-chart,
    .calculate-bmi,
    .team-content-container,
    .footer-content-container,
    .footer-logo-container,
    .trainings-text-container{
    padding: 0 20px;
   } 

   .banner-container{
    flex-direction: column;
   }

   .banner-description{
    font-size: 1rem;
}
.section-title{
    font-size: 2rem;
}



   /* navbar responsive */
   .nav-container{
    padding: 30px 20px;
   } 
    .nav-menu{
        display: none;
    }
    .nav-hamburger-menu{
        display: block;
        color: rgb(255, 255, 255);
    }



    /* banner responsive */
    .banner-text-container{
        width: 100%;
        margin: 0 ;
    }
    .banner-text-title{
        font-size: 2.25rem;
        margin-bottom: 28px;
    }
    .banner-button-1,
    .banner-button-2{
        width: 165px;
        height: 54px;
        font-size: 0.7rem;
        padding: 16px 20px;
    }
    .banner-container{
        gap: 48px;
    }
    .banner-images-card-1{
        width: 40%;
        position: absolute;
        top: 20%;
        left: 70%;
        transform: translate(-30%, -80%);
        padding:10px 10px ;
    }.banner-card-title-1{
        font-size: 1.89rem;
    }
    .banner-card-description-1{
        font-size: 0.617rem;
    }
    .banner-images-card-2{
        width: 40%;
        position: absolute;
        top: 55%;
        left: 30%;
        transform: translate(-70%, -40%);
        padding:10px 10px ;
    
    }.banner-card-title-2{
        font-size: 1.89rem;
    }
    .banner-card-description-2{
        font-size: 0.750rem;
    }


    /* habit-section */
    .habit-container-section{
        padding: 0;
    }
    .habit-parent-card{
        gap: 2.5rem;
        flex-direction: column;
        align-items: center;
    }


    /* Mile Section */
.mile-container-section{
    padding: 32px;
    margin: 70px 20px 0px 20px;
    flex-direction: column;
    gap: 31px;
}
.mile-text-container,
.mile-images-container{
    width: 100%;
}

.mile-images-container img{
    width:100%;
    height: 16rem;
    object-fit:fill; 
}
.mile-button-1{
    margin-top: 24px;
    
}

/* Trainings and Exercises */
.trainings-container-section{
    margin-top: 64px;
}
.trainings-text-container{
    margin-bottom: 38px;
}
.trainings-container-section img{
    height: 126px;
}
.row-1{
    display: grid;
    grid-template-columns: 0px 150px repeat(1, 1fr);
}
.row-2{
    display: grid;
    grid-template-columns: 0px 200px repeat(1, 1fr);

}

/* Calculator Section */
.calculator-container{
    margin: 32px 0;
}
.calculator-section{
    padding-bottom: 43px;
}
.calculator-container-section{
    flex-direction: column;
    gap:42px;
}
.calculator-chart{
    width: 100%;
}
.calculate-bmi{
    width: 100%;
}
.calculator-bmi-title{
    margin:0;
}


/* Meet Our Team */
.team-container-section{
    /* border: 3px solid red; */
    padding: 66px 0;
}
.team-content-container{
    margin-bottom: 37px;
}
.team-card-container{
    grid-template-columns: repeat(1, 1fr);
    margin: 20px 0;

}

/* footer */
.footer-container{
    flex-direction: column;
    gap: 30px;
    padding-top: 44px;
}

.footer-content-container{
    flex-direction: column;
    gap: 20px;
}
.copy-right{
    padding-top: 41px;
    padding-bottom: 57px;
}


}






















/* Medium devices (tablets) */
@media screen and (min-width: 576px) and (max-width: 992px) {


}