@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&display=swap');

body{
    font-family: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */
.display-flex{
    display: flex;
}

.bg-color{
    background-color: #000000;

}

.orangered-color{
    color: #E6533C;
}
.black-color{
    color: #000000;
}
.dark-color{
    color: rgba(255, 255, 255, 0.5);
}
.white-color{
    color: #FFFFFF;
}
.section-title{
    font-size: 3rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.section-text-align{
   text-align: center;

}
.section-description{
    font-size: 0.875rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.section-btn{
    width: 224px;
    height: 54px;
    font-weight: 600;
    background-color: #E6533C;
    color: #FFFFFF;
    font-size: 1.125rem;
    border-radius: 42px;
    padding: 16px 40px;
    border: none;
}
.section-text-align{
    align-items: center;
    margin-bottom: 14px;
}

.nav-container,
.banner-container,
.habit-container-section,
.mile-container-section,
.calculator-container,
.calculator-container-section,
.team-container-section,
.footer-container,
.border,
.trainings-container-section{
    max-width: 1060px;
    margin: 0 auto;
}

/* navbar style */
.nav-container{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-hamburger-menu{
    display: none;
}
.nav-menu-items{
    gap: 47px;
    padding: 4px;
}
.nav-logo-text{
    font-size: 2.25rem;
    font-weight:800 ;
    color: #E6533C;
}
.nav-menu-items{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.menu-item{
    list-style: none;
    padding: 4px;


}.nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.125rem;

}
.home{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
}


/* banner style */
header{
    background: linear-gradient(180.00deg, rgb(54, 54, 54),rgba(0, 0, 0, 0) 80%);

}
.banner-container{
    align-items: center;
    gap: 170px;
}
.banner-text-container{
    width: 520px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.banner-text-title{
    font-size: 4.875rem;
    color: #FFFFFF;
    font-weight: 900;
    margin-bottom: 28px;
}
.shape{
    font-family: "Dancing Script", cursive;
    
}
.banner-btn{
    margin-top: 28px;
    gap: 14px;
}
.banner-button-2{
    width: 224px;
    height: 54px;
    font-weight: 600;
    background-color: #060707;
    color: #FFFFFF;
    font-size: 1.125rem;
    border-radius: 42px;
    padding: 16px 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.banner-images-container{
    position: relative; 
}

.banner-images-container img{
    width: 100%;
}   
.banner-images-card-1{
    position: absolute;
    top: 35%;
    right: -40%;
    transform: translate(-60%, -65%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 18px 10px;
    backdrop-filter: blur(15px);
}
.banner-card-title-1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #FFFFFF;
}
.banner-images-card-2{
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 75%;
    right: 50%;
    transform: translate(-50%, -25%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 25px 13px;
    backdrop-filter: blur(15px);
}
.banner-card-circle{
    width: 40px ;
    height: 40px ;
    background-color: #E6533C;
    border-radius: 50%;
}
.banner-card-title-2{
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF;
}
.banner-card-description-2{
    font-size: 1rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);

}


/* habit-section */
.habit-container-section{
    padding-top: 140px;
    padding-bottom: 100px;
}
.habit-container-content{
    margin-top: 60px;
}
.habit-parent-card{
    gap: 2.5rem;
    justify-content: center;
}
.habit-child-card{
    width: 231px;
}
.habit-card-img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
.habit-card-img img{
    border-radius: 50%;
    width: 100%;
}

.habit-card-title{
    font-size: 1.125rem;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
}
.habit-card-description{
    font-size: 0.875rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}



/* Mile Section */
.mile-container-section{
    background-color: #222222;
    border-radius: 16px;
    padding: 40px 55px;
    display: flex;
    gap: 165px;
}
.mile-text-container{
    width: 50%;
    align-content: center;
}
.mile-images-container{
    width: 50%;
    margin: 0 auto     ;
    
}
.mile-images-container img{
    width: 25.5rem;
    height: 23rem;
    border-radius: 18px;
    object-fit: none; 
    object-position: 67% 34%;
}
.mile-button-1{
    margin-top: 34px;
}


/* Trainings and Exercises */
.trainings-container-section{
    margin-top: 64px;
}
.trainings-text-container{
    margin-bottom: 58px;
}
.trainings-container-section img{
    width: 100%;
    height: 200px;
    filter: brightness(60%);
}
.row-1{
    display: grid;
    grid-template-columns: 250px 515px 290px repeat(1, 1fr);
}
.row-2{
    display: grid;
    grid-template-columns: 425px 285px 347px repeat(1, 1fr);
}
.row-card{
    position: relative;
}
.card-name{
    position:absolute;
    top: 80%;
    left: 30%;
    transform: translate(-30%, -80%);
    color: #FFFFFF;
    font-size: 0.875rem;
}



















/* Calculator Section */
.calculator-container{
    padding: 88px 0px 88px 200px;
}
.calculator-section{
    background-color: #222222;
    padding: 50px 0;
}
.calculator-container-section{
    display: flex;
    gap: 175px;
}
.calculator-chart{
    width: 30%;
}
.calculate-bmi{
    width: 50%;
}
.calculator-chart-title{
    font-size: 1.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin: 52px 0;
}
th{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    color: #ffffff;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.5);
}
.calculate-button-1{
    margin-top:34px;
    margin-bottom: 34px;
}
.calculator-bmi-title{
    font-size: 1.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 52px;
    margin-bottom:14px ;
}
.calculate-bmi-from{
    margin-top: 34px;
    display: flex;
    gap: 12px;
}
input,select,option{
    width: 100%;
    font-size: 0.875rem ;
    font-weight: 400;
    color: rgba(172, 164, 164, 0.5);
    background-color: #383838;
    padding: 13px 20px;
    border: none;
    border-radius: 6px;
    margin-bottom: 12px;
}


/* Meet Our Team */
.team-container-section{
    /* border: 3px solid red; */
    padding: 88px 0;
}
.team-content-container{
    margin-bottom: 58px;
}

.team-card-container{
    background-color: #191919;
    border-radius: 18px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    row-gap: 20px;
    margin: 0 auto;
}
.team-card{
    width: 325px;
    height: 270px;
    position: relative;
    margin: 0 auto;
}
.team-card img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.team-card-title{
        font-size: 1.25rem;
        font-weight: 800;
        color: #FFFFFF;
        margin-bottom: 3px;
}
.team-card-content{
    position: absolute;
    bottom: 16px;
    left: 19px;
}


/* footer */
.footer{
    background-color: #191919;
}
.footer-container{
    display: flex;
    gap: 100px;
    padding: 66px 0;
}
.footer-content-container{
    display: flex;
    gap: 152px;

}
.footer-logo-text{
    font-size: 4.375rem;
    font-weight:800 ;
    color: #E6533C;
    margin-bottom: 20px;
}
.footer-card-text{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 40px;

}
.footer-card-items {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer-card-items li {
    list-style:none ;
}
.footer-card-items a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.border{
    border: 1px solid rgba(255, 255, 255, 0.116);
}

.copy-right{
    font-size: 0.875rem ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.486);
    padding-top: 36px;
    padding-bottom: 35px;
}

